
*{
    margin: 0;
}

body{
    font-family: sans-serif;
    color: white;
    background-color: #06163d;
}

hr{
    border: solid 1px white;
}

.container {
    background-color: #002174;
    text-align: center;
    padding: 32px;
}

.container p {
    margin-top: 8px;
}

.flex-container p {
    margin-top: 24px;
  }

.flex-container {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  
  .flex-one {
    background-color: #47B5FF;
    padding: 32px;
    flex: 25%;
  }
  
  .flex-two {
    background-color: #007AFF;
    padding: 32px;
    flex: 25%;
  }

  .flex-three {
    background-color: #47B5FF;
    padding: 32px;
    flex: 25%;
  }
  
  .flex-four {
    background-color: #007AFF;
    padding: 32px;
    flex: 25%;
  }

  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

form .input {
    margin-top: 20px;
}

form label {
    font-weight: bolder;
}

form .input .box{
    margin-top: 8px;
    padding: 5px;
    width: 80%;
    border-radius: 5px;
    text-decoration: none;
    border: none;
}

form .submit {
    
    margin-top: 20px;
    width: 50%;
    border-radius:5px;
    border: none;
    padding: 10px;
    text-decoration:none;
    cursor: pointer;

}

form .search {
    
    margin-top: 20px;
    border-radius:5px;
    border: none;
    padding: 10px;
    text-decoration:none;
    cursor: pointer;

}


footer {
    text-align: center;
    background-color: #002174;
    padding: 20px;
    margin-top: 32px;
}