
*{
    margin: 0;
}

body{
    font-family: sans-serif;
    color: white;
    background-color: #06163d;
}

hr{
    border: solid 1px white;
}

.container {
    background-color: #002174;
    text-align: center;
    padding: 32px;
}

.container p {
    margin-top: 8px;
}

.flex-container p {
    margin-top: 24px;
  }

.flex-container {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  
  .flex-one {
    background-color: #47B5FF;
    padding: 32px;
    flex: 25%;
  }
  
  .flex-two {
    background-color: #3596ff;
    padding: 32px;
    flex: 25%;
  }

  .flex-three {
    background-color: #47B5FF;
    padding: 32px;
    flex: 25%;
  }
  
  .flex-four {
    background-color: #3596ff;
    padding: 32px;
    flex: 25%;
  }

  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

form .input {
    margin-top: 20px;
}

form label {
    font-weight: bolder;
}

form .input .box{
    margin-top: 8px;
    padding: 5px;
    width: 80%;
    text-decoration: none;
    border: none;
}

form .submit {
    color: #002174;
    font-weight: bolder;
    margin-top: 20px;
    width: 50%;
    border: none;
    padding: 10px;
    text-decoration:none;
    cursor: pointer;
}

form .submit:hover {
    background-color: rgb(220, 220, 220);
}

form .search {
    color: #002174;
    font-weight: bolder;
    margin-top: 20px;
    border: none;
    padding: 10px;
    text-decoration:none;
    cursor: pointer;
}

form .search:hover{
    background-color: rgb(220, 220, 220);
}


.book{
    text-align: center;
}

.book h2{
    margin-top: 20px;
}

.book p{
    margin-top: 10px;
}

.mark {
    font-weight: bolder;
    color: green;
    margin-top: 10px;
    
    border: none;
    padding: 10px;
    text-decoration:none;
    cursor: pointer;
}

.mark:hover{
    background-color: rgb(220, 220, 220);
}

.delete {
    font-weight: bolder;
    color: red;
    margin-top: 10px;
    border: none;
    padding: 10px;
    text-decoration:none;
    cursor: pointer;
}

.delete:hover{
    background-color: rgb(220, 220, 220);
}

.popup{
    box-shadow: 0px 0px 400px 200px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 400px 200px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 400px 200px rgba(0,0,0,0.5);
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: white;
    color: #002174;
    padding: 40px;
    width: 50%;
    text-align: center;
}

.popup h2{
    margin-bottom: 20px;
}

.popup .ya{
    width: 50px;
    margin-right: 20px;
    background-color: rgb(220, 0, 0);
    font-weight: bolder;
    color: white;
    border: none;
    padding: 10px;
    text-decoration:none;
    cursor: pointer;
}

.popup .ya:hover{
    background-color: rgb(255, 0, 0);
}

.popup .tidak{
    width: 70px;
    background-color: rgb(0, 200, 0);
    font-weight: bolder;
    color: white;
    border: none;
    padding: 10px;
    text-decoration:none;
    cursor: pointer;
}

.popup .tidak:hover{
    background-color: rgb(0, 220, 0);
}

footer {
    text-align: center;
    background-color: #002174;
    padding: 20px;
    margin-top: 32px;
}